This is a Django-based app.

Use best-practices for latest Django.
It takes inspiration from the VIPER architecture.
Use `base.html` for templates, which includes bulma and alpine. use these for CSS and interactivity, if needed.

The app is currently allowing anonymous users (using `django-guest-user` for all frontend/ views, although accessing cms requires a superuser)