{% extends "frontend/base.html" %}
{% load lucide %}

{% block content %}
    <div class="container is-max-widescreen">
        <div class="columns is-centered">
            <div class="column">
                <div x-data="snippetWatch" x-init="init({{ snippet_data }})">
                    <!-- Video Player -->
                    <figure class="image is-16by9">
                        <iframe 
                            :src="'https://www.youtube.com/embed/' + snippetData.youtube_id + '?autoplay=1&start=' + snippetData.start_time + '&end=' + snippetData.end_time"
                            frameborder="0"
                            class="has-ratio"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </figure>
                    
                    <div class="buttons is-centered mt-6">
                        <a href="{% url 'snippet_practice' pk=snippet.id %}" class="button is-primary is-large">
                            <span class="icon">
                                {% lucide "rotate-ccw" size=24 %}
                            </span>
                            <span>Practice Again</span>
                        </a>
                        
                        <template x-if="snippetData.next_snippet_url">
                            <a :href="snippetData.next_snippet_url" 
                               class="button is-success is-large">
                                <span class="icon">
                                    {% lucide "arrow-right" size=24 %}
                                </span>
                                <span>Next Snippet</span>
                            </a>
                        </template>
                        
                        <template x-if="!snippetData.next_snippet_url">
                            <a href="{% url 'video_detail' youtube_id=snippet.video.youtube_id %}" 
                               class="button is-info is-large">
                                <span class="icon">
                                    {% lucide "arrow-left" size=24 %}
                                </span>
                                <span>Back to Video</span>
                            </a>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('snippetWatch', () => ({
                snippetData: null,
                
                init(snippetData) {
                    this.snippetData = snippetData;
                }
            }))
        })
    </script>
{% endblock %} 